<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class= "blogs content">
        <h2>About Us</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore qui tempora maiores accusantium corporis nisi doloribus ut quidem saepe mollitia sequi quaerat cumque alias laudantium, eos illum molestias dolorem perspiciatis. </p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore qui tempora maiores accusantium corporis nisi doloribus ut quidem saepe mollitia sequi quaerat cumque alias laudantium, eos illum molestias dolorem perspiciatis. </p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>